@font-face {
  font-family: "Aileron";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/aileron/Aileronbold.woff2);
}
@font-face {
  font-family: "Aileron";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/aileron/Aileron.woff2);
}
@font-face {
  font-family: "Aileron";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/aileron/Aileronsemibold.woff2);
}

@font-face {
  font-family: "Aileron";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/aileron/Aileronlightitalic.woff2);
}

/*===========CSS RESET START============*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*===========CSS RESET END============*/

/*===========COMMON STYLES START============*/
*,
::before,
::after {
  box-sizing: border-box;
}
a,
span {
  display: inline-flex;
  text-decoration: none;
  color: inherit;
}
html {
  scroll-behavior: smooth;
}
:root {
  --color: #2f5bea;
  --text-color: #7e8085;
}

body {
  background: #01081f;
  color: #fff;
  font-style: normal;
  font-size: 16px;
  line-height: 1.75;
  font-family: "Aileron", sans-serif;
  padding-bottom: 1000px; /*development*/
}
picture {
  display: inline-block;
}
button,
input,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: 0;
}
button {
  cursor: pointer;
}
.container {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
}
.link {
  position: relative;
}
.link::after {
  content: "";
  position: absolute;
  /* left: 0; */
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  height: 1px;
  width: 0;
  background-color: var(--color);
  transition: 0.3s;
}
.link:hover::after {
  width: 100%;
}
.wrapper {
  overflow-x: hidden;
}
/*===========COMMON STYLES END============*/

/*===========HEADER STYLES START============*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.logo {
  width: 33px;
  height: auto;
}
.header-logo {
  font-size: 26px;
  font-weight: 700;
}
.header-logo img {
  margin-right: 10px;
}
.nav,
.menu {
  display: flex;
  align-items: center;
  font-size: 17px;
}
.menu > li + li {
  margin-left: 30px;
}
.menu a {
  padding: 10px;
  align-items: center;
}
.menu i {
  margin-left: 10px;
}
.menu-btn {
  background: #fff;
  color: var(--color);
  border-radius: 5px;
  padding: 13px 20px;
  font-weight: 700;
  margin-left: 36px;
  transition: 0.3s;
}
.menu-btn:hover {
  background: var(--color);
  color: #fff;
}
.drop {
  position: relative;
}
.drop-menu {
  position: absolute;
  top: 100%;
  left: 0;
  transform-origin: 0 0;
  transform: rotateX(90deg);
  transition: 0.3s;
}
.nav li:hover > .drop-menu,
.nav li:focus-within > .drop-menu {
  transform: rotate(0);
}
.drop-menu > :nth-child(n + 2) {
  margin-top: 10px;
}
/*===========HEADER STYLES END============*/

/*===========HERO STYLES START============*/

.webp .hero {
  background: linear-gradient(rgba(1, 8, 31, 0) 0%, rgb(1, 8, 31) 100%),
    url(../img/hero-bg.webp) no-repeat 50% / cover;
}

.no-webp .hero {
  background: linear-gradient(rgba(1, 8, 31, 0) 0%, rgb(1, 8, 31) 100%),
    url(../img/hero-bg.png) no-repeat 50% / cover;
}

.hero {
  padding: 305px 0 240px 0;
}
.hero-offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.hero-offer h1 {
  font-size: 48px;
  line-height: 1.21;
  font-weight: 700;
  width: 750px;
}
.hero-offer p {
  font-size: 18px;
  line-height: 1.89;
  text-align: center;
  color: #d2d2d2;
  margin-top: 18px;
  width: 780px;
}
.hero-btns {
  display: flex;
  align-items: center;
  margin-top: 65px;
}
.hero-btns > button + button {
  margin-left: 20px;
}

.btn {
  border: 1px solid rgba(255, 255, 255, 0.151268);
  border-radius: 5px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
}
.btn:hover {
  background: var(--color);
  border: 1px solid transparent;
}
.icon-btn {
  width: 55px;
  height: 55px;
}
.btn > span {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.25;
  padding-top: 13px;
  border-top: 2px solid rgba(255, 255, 255, 0.144163);
  margin-top: 22px;
}
/*===========HERO STYLES END============*/

/*===========SECTION STYLES START============*/
.section {
  padding: 125px 0 0 0;
}
.title-wrapp {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section-title {
  text-transform: uppercase;
  text-align: center;
}
.section-main-title {
  font-size: 34px;
  line-height: 1.35;
  color: #fff;
  margin-top: 20px;
  font-weight: 700;
  width: 600px;
}
.darker-color {
  color: var(--text-color);
}
.section-articles {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  padding-bottom: 111px;
  border-bottom: 1px solid #161d36;
}
.icon-article {
  width: 38px;
  height: auto;
}
.article {
  width: 30%;
}

.text {
  color: var(--text-color);
  margin-top: 25px;
}
.article span {
  color: var(--color);
}
.article-title {
  display: flex;
  align-items: center;
  font-size: 24px;
  line-height: 1.21;
  font-weight: 700;
}
.article-secondary-title {
  margin-left: 20px;
}
/*===========SECTION STYLES END============*/

/*===========SECTION-MANAGE STYLES START============*/

.section-manage {
  padding: 111px 0 134px 0;
}
.manage-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.arrow {
  align-items: center;
  padding: 10px 10px 10px 0;
  margin-top: 40px;
  font-size: 18px;
  line-height: 1.17;
  font-weight: 700;
}
.arrow i {
  margin-left: 10px;
}
.video-wrap {
  position: relative;
  z-index: 0;
}
.video {
  width: 540px;
  height: 380px;
}
.video-play-btn {
  position: absolute;
  width: 94px;
  height: 94px;
  background: var(--color);
  border-radius: 50%;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.video-play-btn.hide {
  visibility: hidden;
  z-index: -1;
}
.video-play-btn > i {
  margin-left: 7px;
}

.article-title-text > p {
  color: var(--text-color);
  width: 462px;
  margin-top: 25px;
}
.article-about {
  text-align: start;
}

/*===========SECTION-MANAGE STYLES END============*/

/*===========AP-SECTION STYLES START============*/

.ap-section {
  background: var(--color);
  color: #c5d0e6;
  padding: initial;
}

.article-ap {
  display: flex;

  position: relative;
  top: 120px;
}
.sliders-wrap {
  position: absolute;
  left: calc(100% - 350px);
  width: 1200px;
}
.article-light {
  padding: 83px 0;
}
.lighter-color {
  color: #c9cdd5;
  text-align: start;
  width: 320px;
}
.ap-title {
  width: 350px;
}
.article-ap .picture {
  width: 380px;
}
.article-img {
  width: 100%;
  height: auto;
}

.test-slider {
  margin: 200px 0;
}
.test-slider .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 21px;
}
.test-slider img {
  margin-top: 30px;
  max-width: 100%;
}

.test-slider-arrows {
  display: flex;
  margin-top: 200px;
}
.test-slider-arrow {
  width: 100px;
  height: 100px;
  background: var(--color);
  border-radius: 50%;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  cursor: pointer;
}
.test-slider-arrow:hover {
  background-color: #fff;
  color: var(--color);
}
.test-slider-prev {
  transform: scaleX(-1);
}
/*===========AP-SECTION STYLES END============*/

/*===========FUTURE-SECTION STYLES START============*/
.feature-content {
  background: #151c32;
}
.section-skew {
  position: relative;
  top: 120px;
}

.feature-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 85px;
}
.feature-cards > .card + .card {
  margin-left: 30px;
}

.card {
  padding: 55px 47px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.14);
  border-radius: 5px;
  color: #2c2e30;
  text-align: center;
}
.icon-back {
  padding: 35px;
  border-radius: 50%;
  background: #f0f3ff;
  display: flex;
  align-items: center;
}

.card-icon {
  width: 35px;
  height: 35px;
}

.card-title {
  width: 250px;
  margin-top: 40px;
  display: inline;
}
.card-title span {
  color: var(--color);
}
.card p {
  width: 300px;
  margin-top: 20px;
  color: #54565a;
}

/*===========FUTURE-SECTION STYLES END============*/

/*===========GUIDE-SECTION STYLES START============*/
.guide-section {
  padding: 225px 0;
}
.guide-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 95px;
}
.guide-article {
  width: 350px;
}
.guide-article .article {
  width: 100%;
}
.guide-article .article:not(:first-child) {
  margin-top: 35px;
}

.guide-img {
  width: 540px;
  height: 650px;
  object-fit: cover;
  border-radius: 5px;
}

.guide-article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*=============== PAGINATION SWIPER SECTION =================*/
.pag-section {
  background: #151c32;
  padding: 125px 0;
}
.pagination-slider {
  margin-top: 120px;
}
.pagination-slider .swiper-slide {
  display: flex;
  justify-content: center;
}
.slide-text p {
  font-size: 28px;
  line-height: 1.71;
  color: #c9cdd5;
  font-style: italic;
  width: 421px;
}
.slide-text h4 {
  font-size: 16px;
  line-height: 1.25;
  color: #7e8085;
}
.slide-text span {
  font-size: 21px;
  line-height: 1.19;
  font-weight: 700;
  text-transform: uppercase;
  margin: 40px 0 10px 0;
  color: #fff;
}
.slide-text img {
  margin-top: 20px;
}

.pag-img {
  width: 400px;
  height: 450px;
  border-radius: 5px;
  object-fit: cover;
  margin-left: 50px;
  position: relative;
}
.pagination-img {
  display: flex;
  justify-content: center;

  /* position: absolute;
 top: 0; */
}
.pagination-img .swiper-pagination-bullet {
  width: 75px;
  height: 9px;
  border-radius: 999px;
  background-color: var(--color);
  margin-top: 25px;
}
.pagination-img .swiper-pagination-bullet:not(:first-child) {
  margin-left: 15px;
}

/*============ PAGINATION SWIPER SECTION END =============*/

.check-section {
  background: var(--color);
  padding-bottom: 158px;
}

.check-section .lighter-color {
  text-align: center;
  font-size: 18px;
  line-height: 1.89;
  width: 556px;
  margin-top: 20px;
}

.check-mail{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
  width: 100%;

}

.check-mail input{
  padding: 25px;
  width: 30%;
  background: #fff;
  color: #01081f;
  border-radius: 5px 0 0 5px;
}
::placeholder{
  color: #67696d;
}
.check-mail .btn-check{
  margin: initial;
  padding: 25px 45px;
  border-radius: 0 5px 5px 0;
  border-left: 1px solid #E7EAEE;
  text-transform: uppercase;

}


.check-mail .btn-check:hover{
  background: #fff;
  color: var(--color);
}

.check-section h3{
  text-align: center;
  font-size: 18px;
  margin-top: 15px;
  color: #c9cdd5;
}